.img1{
    width: 150px;
    border-radius: 50%;
}
.phone img {
    width: 1.3em;
    margin-right: 1em;
}
.email img {
    width: 1.3em;
    margin-right: 1em;

}
.contact ul li {
    list-style: none;
}