.navbar
{
    background: #223f43;
    font-size: 12px;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
    float:none;
    margin:0 auto;
    text-align: center;
}
.linkNav{
    color:#fff;
    padding:0.5em;
    margin-left:0.8em;
    font-weight:600;
    display: block;
    transition: all 0.2s;
  }
  
  .linkNav:hover{
    color:#fff;
    background: lightslategray;
    transition: all 0.2s;
    border-radius:0.3em;
   
  }
  
  .active{
    background-color:lightslategray !important;
  }