/* PORTFOLIO */
#portfolio
{
    background-image: url(../../Assets/images/background-2.jpg);}
#portfolio .heading h2
{
    color: #fff;
}
#portfolio .thumbnail img
{
    width: 100%;
    height: 100%;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%); 
}
#portfolio .thumbnail img:hover
{
     filter: none;
    -webkit-filter: none; 
}