footer
{
    background: #333;
    padding: 20px 0 40px;
}
footer .glyphicon
{
    font-size:  25px;
    margin: 20px;
    color:#2e4d50;
    height: 30px;
}
footer .glyphicon:hover
{
    font-size:  27px;
}
footer h5
{
    color: #fff;
    font-weight: normal;
}
